version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: daily
    time: "19:00"
  groups:
    all:
      patterns:
        - "*"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: anyhow
    versions:
    - 1.0.39
  - dependency-name: log
    versions:
    - 0.4.14
  - dependency-name: regex
    versions:
    - 1.4.3

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "20:00"
