[fzf]
project = junegunn/fzf-bin
target_filename = fzf
target_platform = linux_amd64
version = 0.17.1

[fzf windows]
project = junegunn/fzf-bin
target_filename = fzf.exe
target_platform = windows_amd64
version = 0.17.1

[ripgrep]
project = BurntSushi/ripgrep
target_filename = rg
target_platform = x86_64-unknown-linux-musl
version = 12.1.1

[ripgrep Windows]
project = BurntSushi/ripgrep
target_filename = rg.exe
target_platform = x86_64-pc-windows-msvc
version = 12.1.1

[starship]
pattern = (?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
project = starship/starship
target_filename = starship
target_platform = x86_64-unknown-linux-musl
version = 0.0.0

[starship Windows]
pattern = (?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
project = starship/starship
target_filename = starship.exe
target_platform = x86_64-pc-windows-msvc
version = 0.0.0

[bat]
project = sharkdp/bat
target_filename = bat
target_platform = x86_64-unknown-linux-musl
version = 0.15.4

[bat Windows]
project = sharkdp/bat
target_filename = bat.exe
target_platform = x86_64-pc-windows-msvc
version = 0.15.4

[tokei]
pattern = (?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
project = XAMPPRocky/tokei
target_filename = tokei
target_platform = x86_64-unknown-linux-musl
version = v12.0.4a

[tokei Windows]
pattern = (?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
project = XAMPPRocky/tokei
target_filename = tokei.exe
target_platform = x86_64-pc-windows-msvc
version = v12.0.4a

[exa]
pattern = (?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
project = ogham/exa
target_filename = exa
target_platform = linux-x86_64
version = v12.0.4a

[fd]
project = sharkdp/fd
target_filename = fd
target_platform = x86_64-unknown-linux-musl
version = v8.1.1

[fd Windows]
project = sharkdp/fd
target_filename = fd.exe
target_platform = x86_64-pc-windows-msvc
version = v8.1.1

[procs]
project = dalance/procs
target_filename = procs
target_platform = x86_64-lnx
version = v0.10.4

[procs Windows]
project = dalance/procs
target_filename = procs.exe
target_platform = x86_64-win
version = v0.10.4
