[fzf]
project=junegunn/fzf-bin
target_platform=linux_amd64
target_filename=fzf
version=0.17.1

[fzf windows]
project=junegunn/fzf-bin
target_platform=windows_amd64
target_filename=fzf.exe
version=0.17.1

[ripgrep]
project=BurntSushi/ripgrep
target_platform=x86_64-unknown-linux-musl
version=12.1.1
target_filename=rg

[ripgrep Windows]
project=BurntSushi/ripgrep
target_platform=x86_64-pc-windows-msvc
version=12.1.1
target_filename=rg.exe

[starship]
project=starship/starship
target_platform=x86_64-unknown-linux-musl
version=0.0.0
pattern=(?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
target_filename=starship

[starship Windows]
project=starship/starship
pattern=(?P<binname>[a-zA-Z][a-zA-Z0-9_]+)-(?P<platform>(?:[a-zA-Z0-9_]-?)+)
target_platform=x86_64-pc-windows-msvc
version=0.0.0
target_filename=starship.exe
