[tokei]
page_url = https://github.com/XAMPPRocky/tokei/releases
#page_url = https://github.com/XAMPPRocky/tokei/releases/latest
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = tokei-x86_64-unknown-linux-gnu.tar.gz
version_tag = div.release-header a
target_filename_to_extract_from_archive = tokei
version = v12.0.4a

[tokei Windows]
page_url = https://github.com/XAMPPRocky/tokei/releases
anchor_tag = html main div.release-entry details a
anchor_text = tokei-x86_64-pc-windows-msvc.exe
version_tag = div.release-header a
desired_filename = tokei.exe
version = v12.0.4a

[fzf]
page_url = https://github.com/junegunn/fzf-bin/releases/
#page_url = https://github.com/junegunn/fzf-bin/releases/latest
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = fzf-(\d+\.\d+\.\d+)-linux_amd64.tgz
version_tag = div.release-header a
target_filename_to_extract_from_archive = fzf
version = 0.22.0

[fzf Windows]
page_url = https://github.com/junegunn/fzf-bin/releases/
#page_url = https://github.com/junegunn/fzf-bin/releases/latest
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = fzf-(\d+\.\d+\.\d+)-windows_amd64.zip
version_tag = div.release-header a
target_filename_to_extract_from_archive = fzf.exe
version = 0.22.0

[starship]
page_url = https://github.com/starship/starship/releases/
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = starship-x86_64-unknown-linux-musl.tar.gz
version_tag = div.release-header a
target_filename_to_extract_from_archive = starship
version = v0.44.0

[starship Windows]
page_url = https://github.com/starship/starship/releases/
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = starship-x86_64-pc-windows-msvc.zip
version_tag = div.release-header a
target_filename_to_extract_from_archive = starship.exe
version = v0.44.0

[ripgrep]
page_url = https://github.com/BurntSushi/ripgrep/releases/
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = ripgrep-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version_tag = div.release-header a
target_filename_to_extract_from_archive = rg
version = 12.1.1

[ripgrep Windows]
page_url = https://github.com/BurntSushi/ripgrep/releases/
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = ripgrep-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version_tag = div.release-header a
target_filename_to_extract_from_archive = rg.exe
version = 12.1.1

[watchexec]
page_url = https://github.com/watchexec/watchexec/releases
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = watchexec-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.xz
version_tag = div.release-entry a span.css-truncate-target
target_filename_to_extract_from_archive = watchexec
version = 1.14.0

[watchexec.exe]
page_url = https://github.com/watchexec/watchexec/releases
anchor_tag = html main div.release-entry div.release-main-section details a
anchor_text = watchexec-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version_tag = div.release-entry a span.css-truncate-target
#target_filename_to_extract_from_archive = watchexec.exe
version = 1.14.0