[package]
name = "lifter"
version = "0.3.1"
authors = ["Caleb Hattingh <caleb.hattingh@gmail.com>"]
edition = "2018"

[profile.release]
# https://github.com/johnthagen/min-sized-rust
lto = "fat"
codegen-units = 1
panic = "abort"
opt-level = 'z'

[dependencies]
# reqwest = { version = "0.11.4", features = ["blocking"] }
scraper = "0.12.0"
select = "0.5.0"
regex = "1.4.6"
structopt = { version = "0.3.25", features = ["paw"] }
paw = "1.0.0"
zip = "0.5.13"
compression = "0.1.5"
flate2 = "1.0.22"
tar = "0.4.37"
toml = "0.5.8"
tini = "1.2.0"
stderrlog = "0.5.1"
log = "0.4.14"
itertools = "0.10.1"
anyhow = "1.0.40"
xz2 = "0.1.6"
rayon = "1.5.1"
strfmt = "0.1.6"
url = "2.2.2"

[dependencies.reqwest]
version = "0.11.6"
default-features = false
features = ["blocking", "rustls-tls"]

