[template:github_release_latest]
page_url = https://github.com/{project}/releases/latest
anchor_tag = html main details a
version_tag = html body div.border-top ul li a span

[tokei]
template = github_release_latest
project = XAMPPRocky/tokei
anchor_text = tokei-x86_64-unknown-linux-gnu.tar.gz
target_filename_to_extract_from_archive = tokei
version = v12.1.2

[tokei.exe]
template = github_release_latest
project = XAMPPRocky/tokei
anchor_text = tokei-x86_64-pc-windows-msvc.exe
version = v12.1.2

[fzf]
template = github_release_latest
project = junegunn/fzf
anchor_text = fzf-(\d+\.\d+\.\d+)-linux_amd64.tar.gz
version = 0.27.2

[fzf.exe]
template = github_release_latest
project = junegunn/fzf
anchor_text = fzf-(\d+\.\d+\.\d+)-windows_amd64.zip
version = 0.27.2

[starship]
template = github_release_latest
project = starship/starship
anchor_text = starship-x86_64-unknown-linux-musl.tar.gz
version = v0.55.0

[starship.exe]
template = github_release_latest
project = starship/starship
anchor_text = starship-x86_64-pc-windows-msvc.zip
version = v0.55.0

[ripgrep]
template = github_release_latest
project = BurntSushi/ripgrep
anchor_text = ripgrep-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
target_filename_to_extract_from_archive = rg
version = 13.0.0

[ripgrep Windows]
template = github_release_latest
project = BurntSushi/ripgrep
anchor_text = ripgrep-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
target_filename_to_extract_from_archive = rg.exe
version = 13.0.0

[xsv]
template = github_release_latest
project = BurntSushi/xsv
anchor_text = xsv-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = 0.13.0

[xsv.exe]
template = github_release_latest
project = BurntSushi/xsv
anchor_text = xsv-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = 0.13.0

[watchexec]
template = github_release_latest
project = watchexec/watchexec
anchor_text = watchexec-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.xz
version = cli-v1.16.2

[watchexec.exe]
template = github_release_latest
project = watchexec/watchexec
anchor_text = watchexec-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = cli-v1.16.2

[github]
template = github_release_latest
project = cli/cli
anchor_text = gh_(\d+\.\d+\.\d+)_linux_amd64.tar.gz
target_filename_to_extract_from_archive = gh
version = v1.12.1

[github Windows]
template = github_release_latest
project = cli/cli
anchor_text = gh_(\d+\.\d+\.\d+)_windows_amd64.zip
target_filename_to_extract_from_archive = gh.exe
version = v1.12.1

[gitui]
template = github_release_latest
project = extrawurst/gitui
anchor_text = gitui-linux-musl.tar.gz
version = v0.16.2

[gitui.exe]
template = github_release_latest
project = extrawurst/gitui
anchor_text = gitui-win.tar.gz
version = v0.16.2

[verco]
template = github_release_latest
project = matheuslessarodrigues/verco
anchor_text = verco-linux-x86_64
version = v5.5.1

[verco.exe]
template = github_release_latest
project = matheuslessarodrigues/verco
anchor_text = verco-windows-x86_64.exe
version = v5.5.1

[jq]
template = github_release_latest
project = stedolan/jq
anchor_text = jq-linux64
version = jq-1.6

[jq.exe]
template = github_release_latest
project = stedolan/jq
anchor_text = jq-win64.exe
version = jq-1.6

[procs]
template = github_release_latest
project = dalance/procs
anchor_text = procs-v(\d+\.\d+\.\d+)-x86_64-lnx.zip
version = v0.11.9

[procs.exe]
template = github_release_latest
project = dalance/procs
anchor_text = procs-v(\d+\.\d+\.\d+)-x86_64-win.zip
version = v0.11.9

[lsd]
template = github_release_latest
project = Peltoche/lsd
anchor_text = lsd-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = 0.20.1

[lsd.exe]
template = github_release_latest
project = Peltoche/lsd
anchor_text = lsd-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = 0.20.1

[tealdeer]
template = github_release_latest
project = dbrgn/tealdeer
anchor_text = tldr-linux-x86_64-musl
version = v1.4.1

[bat]
template = github_release_latest
project = sharkdp/bat
anchor_text = bat-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v0.18.1

[bat.exe]
template = github_release_latest
project = sharkdp/bat
anchor_text = bat-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v0.18.1

[sd]
template = github_release_latest
project = chmln/sd
anchor_text = sd-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-gnu
version = v0.7.6

[dust]
template = github_release_latest
project = bootandy/dust
anchor_text = dust-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v0.6.0

[dust.exe]
template = github_release_latest
project = bootandy/dust
anchor_text = dust-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v0.6.0

[fd]
template = github_release_latest
project = sharkdp/fd
anchor_text = fd-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v8.2.1

[fd.exe]
template = github_release_latest
project = sharkdp/fd
anchor_text = fd-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v8.2.1

[hexyl]
template = github_release_latest
project = sharkdp/hexyl
anchor_text = hexyl-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v0.8.0

[hyperfine]
template = github_release_latest
project = sharkdp/hyperfine
anchor_text = hyperfine-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v1.11.0

[hyperfine.exe]
template = github_release_latest
project = sharkdp/hyperfine
anchor_text = hyperfine-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v1.11.0

[lazydocker]
template = github_release_latest
project = jesseduffield/lazydocker
anchor_text = lazydocker_(\d+\.\d+)_Linux_x86_64.tar.gz
version = v0.12

[lazydocker.exe]
template = github_release_latest
project = jesseduffield/lazydocker
anchor_text = lazydocker_(\d+\.\d+)_Windows_x86_64.zip
version = v0.12

[ctop]
template = github_release_latest
project = bcicen/ctop
anchor_text = ctop-(\d+\.\d+\.\d+)-linux-amd64
version = v0.7.6

[ctop.exe]
template = github_release_latest
project = bcicen/ctop
anchor_text = ctop-(\d+\.\d+\.\d+)-windows-amd64
version = v0.7.6

[exa]
template = github_release_latest
project = ogham/exa
anchor_text = exa-linux-x86_64-v(\d+\.\d+\.\d+).zip
version = v0.10.1

[gitea]
template = github_release_latest
project = go-gitea/gitea
anchor_text = gitea-(\d+\.\d+\.\d+)-linux-amd64
version = v1.14.4

[gitea.exe]
template = github_release_latest
project = go-gitea/gitea
anchor_text = gitea-(\d+\.\d+\.\d+)-windows-4.0-amd64.exe
version = v1.14.4

[caddy]
template = github_release_latest
project = caddyserver/caddy
anchor_text = caddy_(\d+\.\d+\.\d+)_linux_amd64.tar.gz
version = v2.4.3

[caddy.exe]
template = github_release_latest
project = caddyserver/caddy
anchor_text = caddy_(\d+\.\d+\.\d+)_windows_amd64.zip
version = v2.4.3

[grex]
template = github_release_latest
project = pemistahl/grex
anchor_text = grex-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v1.2.0

[grex.exe]
template = github_release_latest
project = pemistahl/grex
anchor_text = grex-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v1.2.0

[rargs]
template = github_release_latest
project = lotabout/rargs
anchor_text = rargs-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v0.3.0

[dictomatic]
template = github_release_latest
project = cjrh/dictomatic
anchor_text = dictomatic
version = v0.1.0

[dictomatic.exe]
template = github_release_latest
project = cjrh/dictomatic
anchor_text = dictomatic.exe
version = v0.1.0

[thesauromatic]
template = github_release_latest
project = cjrh/thesauromatic
anchor_text = thesauromatic
version = v0.0.3

[thesauromatic.exe]
template = github_release_latest
project = cjrh/thesauromatic
anchor_text = thesauromatic.exe
version = v0.0.3

[pwrgen]
template = github_release_latest
project = cjrh/pwrgen
anchor_text = pwrgen
version = First release

[pwrgen.exe]
template = github_release_latest
project = cjrh/pwrgen
anchor_text = pwrgen.exe
version = First release

[rust-analyzer]
template = github_release_latest
project = rust-analyzer/rust-analyzer
anchor_text = rust-analyzer-x86_64-unknown-linux-gnu.gz
version = 2021-07-05

[rust-analyzer.exe]
template = github_release_latest
project = rust-analyzer/rust-analyzer
anchor_text = rust-analyzer-x86_64-pc-windows-msvc.gz
version = 2021-07-05

[nvim]
template = github_release_latest
project = neovim/neovim
anchor_text = nvim.appimage
version = v0.5.0

[ncspot]
template = github_release_latest
project = hrkfdn/ncspot
anchor_text = ncspot-v(\d+\.\d+\.\d+)-linux.tar.gz
version = v0.7.3

[delta]
template = github_release_latest
project = dandavison/delta
anchor_text = delta-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = 0.8.2

[delta.exe]
template = github_release_latest
project = dandavison/delta
anchor_text = delta-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = 0.8.2

[duf]
template = github_release_latest
project = muesli/duf
anchor_text = duf_(\d+\.\d+\.\d+)_linux_x86_64.tar.gz
version = v0.6.2

[duf.exe]
template = github_release_latest
project = muesli/duf
anchor_text = duf_(\d+\.\d+\.\d+)_Windows_x86_64.zip
version = v0.6.2

[mcfly]
template = github_release_latest
project = cantino/mcfly
anchor_text = mcfly-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-gnu.tar.gz
version = v0

[choose]
template = github_release_latest
project = theryangeary/choose
anchor_text = choose
version = v0

[cheat]
template = github_release_latest
project = cheat/cheat
target_filename_to_extract_from_archive = cheat-linux-amd64
desired_filename = cheat
anchor_text = cheat-linux-amd64.gz
version = 4.2.2

[cheat.exe]
template = github_release_latest
project = cheat/cheat
target_filename_to_extract_from_archive = cheat-windows-amd64.exe
desired_filename = cheat.exe
anchor_text = cheat-windows-amd64.exe.zip
version = 4.2.2

[curlie]
template = github_release_latest
project = rs/curlie
anchor_text = curlie_(\d+\.\d+\.\d+)_linux_amd64.tar.gz
version = v1.6.0

[curlie.exe]
template = github_release_latest
project = rs/curlie
anchor_text = curlie_(\d+\.\d+\.\d+)_windows_amd64.tar.gz
version = v1.6.0

[csvtk]
template = github_release_latest
project = shenwei356/csvtk
anchor_text = csvtk_linux_amd64.tar.gz
version = v0.23.0

[csvtk.exe]
template = github_release_latest
project = shenwei356/csvtk
anchor_text = csvtk_windows_amd64.exe.tar.gz
version = v0.23.0

[pastel]
template = github_release_latest
project = sharkdp/pastel
anchor_text = pastel-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v0.8.0

[pastel.exe]
template = github_release_latest
project = sharkdp/pastel
anchor_text = pastel-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v0.8.0

[websocat]
template = github_release_latest
project = vi/websocat
anchor_text = websocat_amd64-linux
version = v1.8.0

[websocat.exe]
template = github_release_latest
project = vi/websocat
anchor_text = websocat_win64.exe
version = v1.8.0

[miniserve]
template = github_release_latest
project = svenstaro/miniserve
anchor_text = miniserve-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl
version = v0.14.0

[miniserve.exe]
template = github_release_latest
project = svenstaro/miniserve
anchor_text = miniserve-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.exe
version = v0.14.0

[fcp]
template = github_release_latest
project = Svetlitski/fcp
target_filename_to_extract_from_archive = fcp-(\d+\.\d+\.\d+)-x86_64-unknown-linux-gnu
desired_filename = fcp
anchor_text = fcp-(\d+\.\d+\.\d+)-x86_64-unknown-linux-gnu.zip
version = v0.2.0

[xh]
template = github_release_latest
project = ducaale/xh
anchor_text = xh-v(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = v0.10.0

[xh.exe]
template = github_release_latest
project = ducaale/xh
anchor_text = xh-v(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = v0.10.0

[zellij]
template = github_release_latest
project = zellij-org/zellij
anchor_text = zellij-x86_64-unknown-linux-musl.tar.gz
version = v0.14.0

[lifter]
template = github_release_latest
project = cjrh/lifter
anchor_text = lifter-(\d+\.\d+\.\d+)-x86_64-unknown-linux-musl.tar.gz
version = 0.2.1

[lifter.exe]
template = github_release_latest
project = cjrh/lifter
anchor_text = lifter-(\d+\.\d+\.\d+)-x86_64-pc-windows-msvc.zip
version = 0.2.1

[redbean.com]
page_url = https://justine.lol/redbean/
anchor_tag = html body p.link a
version_tag = p.link a
anchor_text = redbean-(\d+\.\d+).com
version = redbean-1.4.com
